<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mercado liebre</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <header>
        <div>
            <br>
            <br>
            <img src="./images/logo-mercado-liebre.svg" alt="" class="logo">
            <br>
            <br>
            <div class="barra_busqueda">
                <form action="#">
                    <input type="text"
                        placeholder=" Buscar productos, marcas "
                        size="30">
                    <button>
                        <i class="fa fa-search"
                            style="font-size: 13px;">
                        </i>
                    </button>
                </form>
            </div>
            <p class="centrar"> <i class="icono fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>   
        <br> 
        <nav>
            <div class="accionesNav">
            <ul class="lista">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="lista">
                <li><a href="">Creá tu cuenta <i class="icono fa-solid fa-address-card"></i> </a></li>
                <li><a href="">Ingresá <i class="icono fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="icono fa-solid fa-basket-shopping"></i></a></li>
            </ul>
            </div>
            <div class="burger-menu">
                <i class="menu fas fa-bars fa-2xl"></i>
            </div>
        </nav>
        <br>
        <br>
    </header>

    <main>
        <section>
            <h3 class="titulares">Basado en tu última visita</h3>
            <div>
                <img src="./images/img-cafetera-moulinex.jpg" alt="">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion"><b>Cafetera Moulinex</b></p>
            </div>
            <div>
                <img src="./images/img-macbook-pro-2019.jpg" alt="">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <p class="descripcion"><b>MacBook Pro 2019</b></p>
            </div>
            <div>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="descripcion"><b>Samsung Galaxy S10</b></p>
            </div>
            <div>
                <img src="./images/img-tv-samsung-smart.jpg" alt="">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <p class="descripcion"><b>SmartTv Samsung 43"</b></p>
            </div>
        </section>
        <section>
            <h3 class="titulares">Sección de Ofertas</h3>
            <div>
                <img src="./images/img-cafetera-moulinex.jpg" alt="">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion"><b>Cafetera Moulinex</b></p>
            </div>
            <div>
                <img src="./images/img-macbook-pro-2019.jpg" alt="">
                <p class="precio"> $230.000</p>
                <p class="descuento">20% off</p>
                <p class="descripcion"><b>MacBook Pro 2019</b></p>
            </div>
            <div>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="descripcion"><b>Samsung Galaxy S10</b></p>
            </div>
            <div>
                <img src="./images/img-tv-samsung-smart.jpg" alt="">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <p class="descripcion"><b>SmartTv Samsung 43"</b></p>
            </div>
        </section>
    </main>
    
    <footer>
        <br>
        <br>
        <section class="contenido">
            <br>
            <br>
            <div class="caja">
                <i class="icono fa-solid fa-credit-card fa-2xl"></i>
                <p class="titulos">Pagá con tarjeta o en efectivo</p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <br>
            <br>
            <div class="caja">
                <i class="icono fa-solid fa-gift fa-2xl"></i>
                <p class="titulos">Envío gratis desde $ 2.500</p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <br>
            <br>
            <div class="caja">
                <i class="icono fa-solid fa-user-shield fa-2xl"></i>
                <p class="titulos">Seguridad de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </section>
        <br>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>