.form{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

form div div{
    padding: 10px;
}

.perfildeusuario{
    display: flex;
    padding: 10px;
}

.perfildeusuario div{
    text-align: center;
}

form div{
    width: 100%
}

.formInputText{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
}

.pformulario{
    font-size: 16px;
    font-weight: 500;
}

.archivos{
    padding: 10px;
}

.botones{
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 15px;
}

.botones div{
    text-align: center;
}

.botones div button{
    background-color:#1259c3;
    color:white;
    border: none;
    padding: 7px;
}

.formcontraseña{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
}

.alineartextos{
    text-align: center;
}

@media (min-width: 1200px) {
    .form{
        width: 50%;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
