html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
  font-size: 12px;
}

.logo {
  width: 50%;
}

nav {
  display: none;
}

header {
    color: black;
    padding: 20px;
    background-color: #EAC926;
}

img {
    max-width: 100%;
  }

