
/* Reglas del documento */ 

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
  font-size: 12px;
}

/* Reglas del header */ 

.logo {
  width: 50%;
}

nav {
  display: none;
}

header {
    color: black;
    padding: 20px;
    background-color: #EAC926;
}

/* Reglas de secciones */ 

main{
  width: 90%;
  margin: 0 auto;
}

img {
    max-width: 100%;
  }

h3{
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  color: #666;
}

/* Reglas de datos del producto */ 

.precios{
  font-size: 18px;}

.descuentos{
  font-size: 16px;
  color:#39b54a;
}

.descripcion{
  font-size: 16px;
  color: #666;
} 


main section div article div{
  background-color: white;
  position: relative;
  padding: 15px;
  border-top: solid #ebebeb 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap, 1rem);
}

article{
  margin: 15px 0px;
}

.cajaCaracteristicas{
  border-top: solid #ebebeb 1px;
}

main section article i{
  color: green;
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}


/* Reglas del footer */ 

footer {
  background-color: white;
  color:#666;
  padding-top: 30px;
}

footer section {
  padding: 10px;
}

footer .fas {
  color: #1259c3;
}

footer section div {
  margin-bottom: 30px;
}

footer section p {
  margin: 0 20%;
}

footer section h4 {
  margin: 0px;
  font-size: 18px;
}

footer i {
  font-size: 2em;
  margin-bottom: 10px;
}

.texto-centrado{
  text-align: center;
}

.derechos {
  padding-bottom: 20px;
}