
.top-nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-hamburguesa i {
  background-color: #1259c3;
  color: white;
  padding: 10px;
  border-radius: 20%;
  margin: 5px;
}
