body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0%;
  }

header{
  background-color: #EAC926;
}

h3{
  text-align: center;
  color:#666;
  font-weight: 900;
  font-size: 24px;
}

@media(max-width:460px){
  /*movil*/

  body{
    width: 100%;
  }

  img{
    width: 30%;
  }

  header{
    width: 100%;
    margin: 0;
  }

  .logo{
    width:30%;
    margin-left: 30px;
  }

  .barra_busqueda{
    margin-left: 20px;
  }

  .accionesNav{
    display:none;
  }

  main{
    width: 90%;
    margin: 0px auto
  }

  .precio{
    font-size: 18px;
  }

  .descuento{
    font-size: 16px;
  }

  .descripcion{
    font-size: 16px;
  }

  .icono{
    color:#03264C;
  }

  .centrar{
    text-align: center;
  }

  .lista{
    list-style:none;
    margin-left: -1%;
  }

  .burger-menu{
    background-color: #1259c3;
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0px auto;
  }

  .menu{
    color: white;
    position:relative;
    top:35%;
    left:50%;
    transform:translate(-50%,-50%)
  }

  footer{
    background-color: white;
  }

  .caja{
    width: 30%;
  }

  .contenido{
    text-align: center;
    color: #666;
  }

  .titulos{
    font-weight: bold;
    font-size:large;
  }
}



@media(min-width:361px){
  /*tablets*/
}

@media(min-width:769px){
  /*desktop*/
}